<md-sidenav-layout *ngIf="!authService.loggedIn">
  <md-toolbar color="primary">
    
    CrossOver Tube

    <span class="app-toolbar-filler"></span>
  </md-toolbar>

  <div class="app-content">
    <div class="row">
        <div class="col-md-4"></div>
        <div class="col-md-4">
            <md-card>
                <md-card-header>
                    <md-card-title><h4>Enter your credentials</h4></md-card-title>
                </md-card-header>
                <md-card-content>
                    <form (submit)="login(username.value, password.value)">
                        <md-card class="error" *ngIf="authService.error">Invalid credentials</md-card>
                        <md-input-container class="big">
                            <input md-input placeholder="Enter your username" value="" name="username" #username>
                        </md-input-container>
                        <br />
                        <md-input-container class="big">
                            <input md-input placeholder="Enter your password" value="" type="password" name="password" #password>
                        </md-input-container>
                        <br />
                        <br />
                        <div class="flex-container" fxLayoutAlign="center center" >
                            <button md-raised-button color="primary">Login</button>
                        </div>
                    </form>
                </md-card-content>
            </md-card>
        </div>
        <div class="col-md-4"></div>
    </div>    
  </div>

</md-sidenav-layout>