<ngb-rating [(rate)]="currentRate" (rateChange)="rateChange()" [readonly]="readonly">
  <template let-fill="fill">
    <span class="star" [class.filled]="fill === 100">&#9733;</span>
  </template>
</ngb-rating>