<!-- List view -->
<md-sidenav-layout *ngIf="authService.loggedIn && !detailedVideo" (scroll)="lazyLoad()">

  <md-toolbar color="primary">
    
    CrossOver Tube

    <span class="app-toolbar-filler"></span>
    <button md-button (click)="logout()">Logout</button>
  </md-toolbar>

  <div class="app-content" #videosList>
    <div class="row sameHeight">
        <div class="col-md-3 sameHeight" *ngFor="let video of authService.videos">
            <md-card class="col-md-12" style="overflow: hidden !important;" [@flyInOut]="'in'">
                <md-card-header style="overflow: hidden !important;">
                    <md-card-title style="overflow: hidden !important;">
                        <button md-raised-button color="primary" style="overflow: hidden !important;" (click)="detail(videoPlayer.id)">{{ video.name }}</button>
                    </md-card-title>
                </md-card-header>
                <md-card-content>
                    <video width="100%" controls preload="metadata" (play)="playOnly(videoPlayer.id)" (pause)="playing" [id]="video._id" #videoPlayer>
                        <source [src]="'http://localhost:3000/'+video.url" type="video/mp4">
                        Your browser does not support HTML5 video.
                    </video>
                    <p><grade-component [currentRate]="video.ratings | average"></grade-component></p>
                    <p>{{ video.description | slice:0:80}}...</p>
                </md-card-content>
            </md-card>
        </div>
    </div>
       
  </div>

</md-sidenav-layout>
<!-- List view End -->

<!-- Detailed view -->
<md-sidenav-layout *ngIf="authService.loggedIn && detailedVideo" (scroll)="lazyLoad()">

  <md-toolbar color="primary">
    
    CrossOver Tube

    <span class="app-toolbar-filler"></span>
    <button md-button (click)="logout()">Logout</button>
  </md-toolbar>

  <div class="app-content" (scroll)="lazyLoad($event, authService.videos.length)" #videosList>
    <div class="row">
        
        <!-- Detail View -->
        <div class="col-md-9">
            <md-card class="col-md-12" [@flyInOut]="'in'">
                <md-card-header style="overflow: hidden !important;">
                    <md-card-title style="overflow: hidden !important;">
                        <div layout="row" layout-align="center center">
                            <button md-raised-button color="primary" style="overflow: hidden !important;" (click)="detail(videoPlayer.id)">{{ authService.video.name }}</button>
                        </div>
                    </md-card-title>
                </md-card-header>
                <md-card-content layout="row" layout-align="center center">
                    <div class="flex-container" fxLayout="row" fxLayout.xs="column" fxLayoutAlign="center center" fxLayoutAlign.xs="start">
                        <video controls preload="metadata" (play)="playOnly(videoPlayer.id)" (pause)="playing" [id]="authService.video._id" #videoPlayer>
                            <source [src]="'http://localhost:3000/'+authService.video.url">
                            Your browser does not support HTML5 video.
                        </video>
                    </div>
                    <p><grade-component [currentRate]="authService.video.ratings | average" [readonly]="false"></grade-component></p>
                    <p>{{ authService.video.description }}</p>
                </md-card-content>
            </md-card>
        </div>
        <!-- Detail View End -->
        
        <!-- Lateral List -->
        <div class="col-md-3">
            <div class="row">
                <div class="col-md-12">
                    <div *ngFor="let video of authService.videos">
                        <md-card class="flex-container" fxFlex="100%" [@flyOutIn]="'in'">
                            <md-card-header style="overflow: hidden !important;">
                                <md-card-title style="overflow: hidden !important;">
                                    <button md-raised-button color="primary" style="overflow: hidden !important; text-align:center;" (click)="detail(videoPlayer.id)">{{ video.name }}</button>
                                </md-card-title>
                            </md-card-header>
                            <md-card-content>
                                <video width="100%" controls preload="metadata" style="text-align:center;" (play)="playOnly(videoPlayer.id)" (pause)="playing" [id]="video._id" #videoPlayer>
                                    <source [src]="'http://localhost:3000/'+video.url" type="video/mp4">
                                    Your browser does not support HTML5 video.
                                </video>
                                <p><grade-component [currentRate]="video.ratings | average"></grade-component></p>
                                <p>{{ video.description | slice:0:80}}...</p>
                            </md-card-content>
                        </md-card>
                    </div>
                </div>
            </div>
        </div>
        <!-- Lateral List End -->
    </div>
       
  </div>

</md-sidenav-layout>
<span class="app-action" *ngIf="authService.loggedIn && detailedVideo">
  <button md-fab (click)="goGallery()"><md-icon>clear</md-icon></button>
</span>
<!-- Detailed view End -->